.van-form {
    width: 100%;
    margin-top: 200px;
}

.van-field {
    margin: 20px 0;
}

.van-checkbox__icon {
    font-size: 16px;
}

.van-checkbox__label {
    margin: 5px;
    text-align: left;
}

.login-btn {
    margin-bottom: 0.5rem;
}

.van-badge--fixed {
    position: absolute;
    top: 1px;
    right: 12px;
}

.van-empty__image {
    width: 90px;
    height: 90px;
}

.custom-image {
    margin-top: 100px;
}